/* styles for energy images*/

.energyType{
    background-image: url(../images/energyTypes.png);
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 3px;
  }
.energyType.fighting{
background-position: -50px -25px;

}
.energyType.colorless{
background-position: -25px 0px;

}
.energyType.fairy{
background-position: -50px 0px;

}
.energyType.fire{
background-position: -0px 0px;

}
.energyType.metal{
background-position: -75px 0px;

}
.energyType.dragon{
background-position: 0px -25px;

}
.energyType.grass{
background-position: -25px -50px;

}
.energyType.water{
background-position: -75px -50px

}
.energyType.psychic{
background-position: -75px -25px;

}
.energyType.darkness{
background-position: 0px -50px;

}
.energyType.lightning{
background-position: -25px -25px;

}
/*-----------------------------------------*/
.redBar{
    background-color: rgb(238,21,21);
    padding: 1%;
}

body {
    background-color: rgb(240,240,240);
}

img {
    width: 30%;
    height: 30%;
}
.box {
    border: solid 1px black;
    height: 300px;
}

.pokemonCard {
    transition: transform .2s;
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }
  
.pokemonCard:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    cursor: pointer;
}
.returnImage{}

.box:hover, .returnImage:hover {
    cursor: pointer;
}

.imageBanner{
}